@font-face {
  font-family: "NotoSansKRRegular";
  src: url(../assets//font/NotoSansKR-Regular.otf);
}

@font-face {
  font-family: "NotoSansKRThin";
  src: url(../assets/font/NotoSansKR-Thin.otf);
}

@font-face {
  font-family: "NotoSansKRBold";
  src: url(../assets/font/NotoSansKR-Bold.otf);
}

@font-face {
  font-family: "NotoSansKRLight";
  src: url(../assets/font/NotoSansKR-Light.otf);
}

@font-face {
  font-family: "NotoSansKRMedium";
  src: url(../assets/font/NotoSansKR-Medium.otf);
}

@font-face {
  font-family: "SegoeUI";
  src: url(../assets//font/Segoe\ UI.ttf);
}

@font-face {
  font-family: "SegoeUIBold";
  src: url(../assets//font/Segoe\ UI\ Bold.ttf);
}

@font-face {
  font-family: "SegoeUIItalic";
  src: url(../assets//font/Segoe\ UI\ Italic.ttf);
}

@font-face {
  font-family: "SegoeUIBoldItalic";
  src: url(../assets//font/Segoe\ UI\ Bold\ Italic.ttf);
}
