.rg-root {
  font-family: "NotoSansKRRegular";
  font-size: 12px;
}

.rg-right-column {
  text-align: right;
}

.rg-left-column {
  text-align: left;
}

.rg-grid {
  border: none;
}

.rg-header-select {
  background-color: #e4e7eb;
}

.rg-header-focus {
  background-color: #e4e7eb;
}
