.rg-root {
  font-family: "NotoSansKRRegular";
  font-size: 14px;
}

.rg-right-column {
  text-align: right;
}

.rg-left-column {
  text-align: left;
}

.rg-grid {
  border: none;
}

.rg-header-select {
  background-color: #e4e7eb;
}

.rg-header-focus {
  background-color: #e4e7eb;
}

.rg-focused-row {
  background: #f9d2b9;
}

/*
.AR1100 .rg-focused-cell {
  background: aliceblue;
}
*/
